.header-upper{
	width: 100%;
	height: 30px;
	background-color : rgb(50,50,50);
}
.header-bottom{
	width: 100%;
	height: 80px;
	background-color: rgb(31,31,31);

}

.header-image{
	width: 100px;
	height: 40px;
	
}

.footer-color{
  background-color : rgb(50,50,50);
}
.footer-margen{
  height: 30px;
}
.footer-medidas-foto-gobierno{
  height: 168px;
  width: 168px;
}
.mid-row-height{
  height: 100px;
  margin-top: 1px;
}
.medida-foto-top{
  padding-left: 100px;
  padding-top: 20px;
  width: 400px;
  height: 55px;
}